h1 {
    text-align:center;
    font-family: 'Prompt', sans-serif;
        text-size: 1000px;
}
    
p {
    font-family: 'Raleway', sans-serif;
}
.subtitle {
    text-align:center;
}
h3 {
    text-align:center;
    font-family: 'Raleway', sans-serif;
    margin-top: 10%;
}

h2 {
    text-align:center;
    font-family:Helvetica;
}
.catagory {
    text-align:center;
    font-weight:bold;
}
.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  
}
