h1 {
    text-align:center;
    font-family: 'Prompt', sans-serif;
      font-size: 100px;
}
    
p {
    font-family: 'Raleway', sans-serif;
}
.subtitle {
    text-align:center;
      font-size: 30px;
    margin-left:5px;
    margin-right:5px;
    color:#edf5e1;
   
}
h3 {
    text-align:center;
    font-family: 'Raleway', sans-serif;
    margin-top: 10%;
      font-size: 70px;
    
}

h2 {
    text-align:center;
    font-size:80px;
    font-family: 'Raleway', sans-serif;
    
}
.catagory {
    text-align:center;
    font-weight:bold;
          font-size: 60px;

}
.center {
    display: block;
      margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.back { 
    text-align:left;
    margin-left:12px;
  
}
a { 
    color:#05386b;
}
body {
    background-color:#5cdb95;
    color:#05386b;
}
