h1 {
    text-align:center;
    font-family: 'Prompt', sans-serif
}
    
p {
    font-family: 'Raleway', sans-serif;
}
.subtitle {
    text-align:center;
}
h3 {
    text-align:center;
    font-family: 'Raleway', sans-serif;
    margin-top: 60px
}

h2 {
    text-align:center;
    font-family:Helvetica;
}
.catagory {
    text-align:center;
    margin-top:10px
